<div id="<%= dom_id product %>">
  <p>
    <strong>Название:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Цена:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Категория:</strong>
    <%= product.category_id %>
  </p>

</div>
